auto-install-peers=false
node-linker=hoisted
strict-peer-dependencies=false
dedupe-peer-dependents=true
@lunarclient:registry=https://npm.pkg.github.com/
@moonsworth:registry=https://npm.pkg.github.com/