auto-install-peers=false
node-linker=hoisted
strict-peer-dependencies=false
dedupe-peer-dependents=true
@lunarclient:registry=https://us-npm.pkg.dev/mw-moonsworth-npm-repo/private/
@moonsworth:registry=https://us-npm.pkg.dev/mw-moonsworth-npm-repo/private/